* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
body{
    background-color: linen;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(90, 20, 18);
    height: 10%;
    width: 100vw;
    padding: 0;
    position: fixed;
    z-index: 3;
    overflow-x: hidden;
}
.menu-icon{
    display: none;
}
.close-icon{
    display: none;
}

.nav {
    display: flex;
    gap: 30px;
    margin-right: 30px;
}

.nav li{
    margin-top: 0;
    list-style-type: none;
    position: relative;
    float: right;
    
}
.mobile-nav{
    display: none;
}
.breeze-word{
    font-size: 2.5rem;
    margin-left: 30px;
    color: linen;
}
a{
    text-decoration: none;
}
.word{
    color: linen;
    font-size: 1.5rem;
    margin-right: 30px;
}
.pic {
    position: relative;
    background-size: cover; 
    height: 100vh;
    width: 100vw; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center; 

}
.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    z-index: 1;
}
.light-overlay{
    height: 80%; 
    width: 100%;
    background-color: rgb(255, 255, 255, 0.4);
    position: absolute; 
    top: 10%;
    left: 0;
    z-index: 0; 
    border: none;
}
.dark-overlay{
    height: 80%; 
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    position: absolute; 
    top: 10%;
    left: 0;
    z-index: 0; 
    border: none;
}
.logo {
    width: 700px;
    height: 400px;
}
.space{
    height: 2vh;
    background-color: rgb(0, 0, 0);
}
#home{
    background-image: url('pic/home.jpg');
    padding-top:40px;
    padding-bottom: 40px;
}
#cocktail{
    background-image: url('pic/cocktail.jpg'); 
    padding-top:40px;
    padding-bottom: 40px;
}
#about{
    background-image: url('pic/about.jpg'); 
    padding-top:40px;
    padding-bottom: 40px;
}
#rate{
    background-image: url('pic/vote.jpg'); 
    color: white;
    padding-top:40px;
    padding-bottom: 40px;
}
.dark-square{
    height:30%;
    width:30%;
    border:13px solid black;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.light-square{
    height:30%;
    width:30%;
    border:13px solid white;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.theme-word{
    font-size: 60px;
}

#cocktail-list {
    display: flex;
    justify-content: center;  
    align-items: center;      
    position: relative;
    
}
.cocktail-container {
    padding: 20px;
    margin: 20px 10px;
    width: 95%;
    height: 700px;
    opacity: 0; 
    transition: opacity 1s ease-in-out; 
    display: none;
    position: relative;
}

.cocktail-container.active {
    opacity: 1;
    display: block; 
}

.cocktail-container.inactive {
    opacity: 0;
    display: none; 
}

.cocktail-content {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    width: 100%;
    padding: 20px;
}

.cocktail-image {
    width: 45%;
    height: auto;
    margin-right: 20px; 
    
}

.cocktail-details {
    width: 45%;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    line-height: 2;
}

ul,ol {
    margin-left: 40px; 
    font-size: 1.2rem;
}

.feedback {
    color: black;
    text-align: center;
    position: relative;
    top:20px;
}

.form-title {
    
    text-align: center;
    color: black;
}
.radio-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    position: relative;
    top: 20px;
    /* gap: 15px;  */
}

.radio-group label {
    display: flex;
    align-items: center;
    margin: 10px 0;
    margin-left: 30%;
}

.email-group { 
    margin: 30px auto 20px 10%; 
    display: flex; 
    align-items: center; 
}

#email {
    padding: 5px;
    width: 300px;
    margin-left: 10px;
}

.form-submit {
    margin-left: 20px; 
    margin-top:30px;
}
#submitVote {
    padding: 5px 10px;
    background-color: rgb(90, 20, 18, 0.8);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#submitVote:hover {
    background-color: rgb(90, 20, 18);
}
.vote-word{
    margin-top: 10px;
}
.result-title {
    text-align: center;
    margin-top: 40px;
}

#vote-div{
    height: 80%;
    margin-bottom: 50px;
}

@media (min-width: 500px) and (max-width: 768px) {

    .nav {
        display: none; 
    }

    .menu-icon {
        display: block; 
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        color: linen;
    }
    .menu-icon i {
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }
    .menu-icon i.hidden {
        opacity: 0;
    }
    .mobile-nav {
        display: none; 
        position: fixed; 
        top: 10%; 
        right: 0; 
        background-color: rgb(90, 20, 18, 0.8); 
        width: 200px; 
        padding: 20px; 
        z-index: 3; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        
    }
    .mobile-nav li {
        list-style-type: none; 
        padding: 10px 0; 
    }
    
    .mobile-nav li a {
        text-decoration: none; 
        color: black; 
        display: block; 
    }
    .mobile-nav.active {
        display: block; 
    }

    .menu-icon i {
        font-size: 30px; 
    }

    .breeze-word {
        font-size: 30px;
    }
    
    .logo{
        width: 500px;
        height: 300px;
    }
    .theme-word{
        font-size: 40px;
    }
    .dark-square{
        height:20%;
        width:45%;
        border:10px solid black;
    }
    .light-square{
        height:20%;
        width:45%;
        border:10px solid rgb(255, 255, 255);
    }
    .cocktail-container{
        height:auto;
    }
    .cocktail-content {
        flex-direction: column; 
        align-items: center;    
    }

    .cocktail-image,
    .cocktail-details {
        width: 100%; 
        margin: 0;    
    }

    .cocktail-details {
        margin-top: 20px; 
    }

}

@media (max-width: 499px) {
    .nav {
        display: none; 
    }

    .menu-icon {
        display: block; 
        position: absolute;
        top: 20px;
        right: 30px;
        cursor: pointer;
        color: linen;
    }
    .menu-icon i {
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }
    .menu-icon i.hidden {
        opacity: 0;
    }
    .mobile-nav {
        display: none; 
        position: fixed; 
        top: 10%; 
        right: 0; 
        background-color: rgb(90, 20, 18, 0.8); 
        width: 200px; 
        padding: 20px; 
        z-index: 3; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        
    }
    .mobile-nav li {
        list-style-type: none; 
        padding: 10px 0; 
    }
    
    .mobile-nav li a {
        text-decoration: none; 
        color: black; 
        display: block; 
    }
    .mobile-nav.active {
        display: block; 
    }

    .menu-icon i {
        font-size: 25px; 
    }

    .breeze-word {
        font-size: 25px;
    }
    
    .logo{
        width: 300px;
        height: 180px;
    }
    .theme-word{
        font-size: 20px;
    }
    .dark-square{
        height: 15%;
        width: 45%;
        border:8px solid black;
    }
    .light-square{
        height:15%;
        width:45%;
        border:8px solid rgb(255, 255, 255);
    }
    .cocktail-container{
        height:auto;
    }
    .cocktail-content {
        flex-direction: column; 
        align-items: center;
    }

    .cocktail-image,
    .cocktail-details {
        width: 100%; 
        margin: 0;   
    }

    .cocktail-details {
        margin-top: 20px; 
    }
    
    .cocktail-details h1 {
        font-size: 2em;
    }
    .cocktail-details h2 {
        font-size: 1.5em;
    }
    
    .cocktail-details li {
        font-size: 1em;
    }

}
