.header {
    background-color: rgb(90, 20, 18);
    opacity: 0.9;
    height: 10%;
    width: 100%;
    padding: 0px;
    position: fixed;
    z-index: 2;
    overflow-x: hidden;
}

.logo {
    color: #fff;
    font-size: 40px;
    font-weight: 600px;
    position: absolute;
    left: 1%;
    top: 30%;
}

* {
    padding: 0;
    margin: 0;
}


/*插入導覽列*/

.word {
    color: #fff;
    font-size: 30px;
    font-weight: 100px;
}

a {
    text-decoration: none;
}

.nav li {
    position: relative;
    left: 80%;
    float: left;
    margin-top: 25px;
    margin-right: 30px;
    list-style-type: none;
    list-style-image: url(images/icon.gif);
}

.container {
    opacity: 0.9;
    margin: 0 auto;
    padding: 0px;
    position: absolute;
    line-height: 28px;
}

.pic {
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    line-height: 28px;
    z-index: 1;
}

.a1 {
    background-image: url("pic/6.jpg");
}

.a2 {
    background-image: url("pic/2.jpg");
}

.a3 {
    background-image: url("pic/8.jpg");
}

.a4 {
    background-image: url("pic/vote.jpg");
}

.b {
    height: 88%;
    width: 100%;
    background-color: black;
}

.b1 {
    height: 100%;
    width: 100%;
    background-color: black;
}

.b2 {
    height: 200%;
    width: 100%;
    background-color: Linen;
}